.mechanicBookingPage {
    width: 100%;
    height: max-content;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mechanicBookingPageWrapper {
    padding-top: 22px;
    /* padding-left: 80px; */
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 33px;
    /* background: #000; */
}

.table_header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 31px;

    & h1 {
        color: var(--Secondary-Secondary, #0066B2);
        font-family: "Alegreya SC";
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.56px;
    }

    & .cardsHolders {
        width: 100%;
        height: max-content;
        display: flex;
        gap: 30px;
        justify-content: space-between;

        & .cards {
            min-width: 246px;
            /* width: 246px; */
            height: 126px;
            display: flex;
            padding: 17px 13px 10px 12px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 31px;
            border-radius: var(--Radius-sm, 15px);
            background: var(--Base-Base-White, #FFF);

            /* Card shadows */
            box-shadow: 0px 46px 13px 0px rgba(182, 184, 185, 0.00),
                0px 29px 12px 0px rgba(182, 184, 185, 0.01), 0px 17px 10px 0px rgba(182, 184, 185, 0.05), 0px 7px 7px 0px rgba(182, 184, 185, 0.09), 0px 2px 4px 0px rgba(182, 184, 185, 0.10);

            & .cardsTop {
                display: flex;
                align-items: flex-end;
                gap: 17px;
                width: max-content;
                height: max-content;

                & span {
                    color: var(--Base-Base-Black, #171717);
                    font-family: Lora;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.2px;
                }
            }

            & .cardsBottom {
                display: flex;
                align-items: center;
                gap: 56px;
                height: 36px;
            }
        }
    }
}

.mechanicBookingPageTableHolder {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 33px;
    /* background: #000; */

    & .mech_booking_head {
        color: #000;
        font-family: Lora;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

}