.layoutHeader {
    /* height: 70px; */
    height: 4.375rem;
    width: 100%;
    /* padding: 9px 62px 11px 1003px; */
    padding-right: 62px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: var(--Base-Base-White, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(194, 193, 193, 0.10);
}

.layoutHeaderRight {
    /* min-width: 95px; */
    /* width: 95px; */
    height: 50px;
    display: flex;
    height: 50px;
    padding: 5.097px 0px 4.903px 6px;
    justify-content: flex-end;
    align-items: center;
    gap: 25.463px;
    /* background: #793d3d; */
    /* width: 100%; */
}
.layoutHeaderMenu{
    display: none;
}

@media screen and (max-width: 500px) {
    .layoutHeader {
        padding-right: 0;
    }

    .layoutHeaderMenu{
        display: flex;
    }
}

.layOutHeader_two {
    height: 4.375rem;
    width: 100%;
    border-bottom: 1px solid #CCC;
    background: #FFF;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.layOutHeader_twoWrapper {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #000;     */
}

.userIconLayout {
    width: 50px;
    height: 50px;
    /* padding: 10px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 57.87px;
    border: var(--Spacing-xxs, 2px) solid #CCC;
    background: var(--Base-Base-Black, #171717);

    & span {
        color: var(--Base-Base-White, #FFF);
        font-family: Oswald;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}