.changePassword__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 90px;
    justify-content: center;
    align-items: center;

}

.changePassword__content{
    display: flex;
    width: 362px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-top: 70px;
}
.changePassword__content h1 {
    color: var(--Secondary-Secondary, #0066B2);
    text-align: center;
    font-family: "Alegreya SC";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 318px;
    height: 54px;
}
/* .forgotPassword__email{
    display: flex;
    width: 362px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10.667px;
}

.forgotPassword__email input {
    display: flex;

    height: 49.778px;
    padding: 5.502px 16px;
    align-items: center;
    gap: 5.502px;
    align-self: stretch;
    border-radius: 5.502px;
    border: 0.89px solid #565454;
   
}

.forgotPassword__email label{
    color: var(--Base-Base-Black, #171717);
    font-family: Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

/* @media screen and (max-width: 375px){
    .forgotPassword__content__wrapper{
        width: 320px;

    }
    .changePassword__content{
        width: 300px;
    }
   
    .login__input{
        width: 100%;
    }
   
    .login__input__password {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        
    }

    .resetPassword{
        width: 300px;
    }
} */