.serviceCategory__container{
    display: flex;
    width: 368px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 742px;
    border-right: 1px solid var(--Primary-Primary500, #9F9F9F);
    background: var(--Base-Base-White, green);
}