.ourStory__container{
    display: flex;
    width: 96rem;
    justify-content: space-around;
    /* align-items: center; */
    background-color: #fff;

}
.ourStory__left{
    display: flex;
    position: relative;
    width: 42rem;
    height: 37.3125rem;
   gap: 350px;
    /* padding: 9.875rem 5.5rem; */
    /* justify-content: center;
    align-items: center; */
    
}
.leftbg{
    /* position: absolute; */
    padding: 9.875rem 5.5rem;
    width: 18.32013rem;
    height: 31.2685rem;
    transform: rotate(-38.775deg);
    background: var(--Secondary-Secondary, #0066B2);
}
.rightbg{
    /* position: absolute; */
    background: var(--Secondary-Secondary, #0066B2);
    width: 6.25rem;
    height: 27.3125rem;
    transform: rotate(0deg); 
    
    

    
   
}
.ourStory__right{
    display: flex;
    flex-direction: column;
    width: 48rem;
    height: 37.3125rem;
    padding: 9.875rem 5.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}
.ourStory__right h1{
    color: var(--Base-Base-Black, #171717);
font-family: "Alegreya SC";
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
.ourStory__right p{
    color: var(--Base-Base-Black, #171717);
font-family: Lora;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 180%; /* 2.7rem */
}
