.FooterDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-self: stretch;
    background: var(--Base-Base-Black);
}

.FooterDetailsUp {
    height: 23.875rem;
    display: flex;
    justify-content: center;
    background: var(--Base-Base-Black);
    border-bottom: 1px solid var(--Base-Base-White);
    padding: 18px 100px 56px 69px;
    gap: 106px;

    & .footerDetailsUpLeft {
        display: flex;
        flex-direction: column;
        gap: 21px;
        padding-bottom: 100px;

        & .underFooterLogo {
            display: flex;
            /* width: 285px; */
            width: 17.8125rem;
            /* height: 83px; */
            height: 5.1875rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            flex-shrink: 0;
            /* background: #000; */

            & .underFooterLogoUp {
                width: 100%;
                /* height: 24px; */
                height: 1.5rem;
                display: flex;
                align-items: center;
                gap: 16px;
                align-self: stretch;
                /* background: #be5252; */

                & svg {
                    width: 20px;
                    height: 24px;
                }

                & p {
                    color: var(--Base-Base-White);
                    font-family: Oswald;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }

            & .underFooterLogoDown {
                width: 100%;
                /* height: 24px; */
                height: 1.5rem;
                /* background: #be5252; */
                display: flex;
                align-items: center;
                gap: 60px;

                & .socialIcons {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    & .footerDetailsUpright {
        padding-top: 50px;
        width: 52.1875rem;
        display: flex;
        /* flex-wrap: wrap; */
        gap: 180px;
        

        & .info,
        .community,
        .more {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            /* background: rgb(157, 124, 124); */
            gap: 10px;

            & p {
                color: var(--Base-Base-White, #FFF);
                font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
                font-family: Oswald;
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                /* line-height: 145%; */
                /* 40.6px */
            }

            & .infoRoutes {
                display: flex;
                /* width: 112px; */
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
                /* background: #000; */

                & .infoRoute {
                    display: flex;
                    height: 24px;
                    padding: 8px 8px 8px 0px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    text-decoration: none;

                    & span {
                        color: var(--Base-Base-White, #FFF);
                        font-feature-settings: 'cv03' on, 'cv04' on;
                        font-family: Oswald;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 145%;
                        /* 23.2px */
                    }
                }

            }
        }

        & .info {
            width: 9.875rem;
            height: 16.875rem;
        }

        & .community {
            width: 9.125rem;
            height: 9.5625rem;
        }

        & .more {
            width: 10.6875rem;
            height: 14.4375rem;
            padding-right: 2px;
        }
    }
}

.FooterDetailsDown {
    height: 5rem;
    /* padding: 26px 1124px 25px 70px; */
    padding-top: 26px;
    /* padding-right: 1124px;  */
    padding-bottom: 25px;
    padding-left: 70px;
    display: flex;
    align-items: center;
    align-self: stretch;
    /* justify-content: center; */
    background: var(--Base-Base-Black);
    color: var(--Base-Base-White);
    gap: 4px;
    /* font-size: 20px; */

    & svg {
        width: 20px;
        height: 20px;
    }

    & p {
        color: var(--Base-Base-White, #FFF);
        font-family: Oswald;
        font-style: normal;
        /* font-size: 20px; */
        font-size: 1.25rem;
        font-weight: 400;
        /* line-height: 145%; */
        /* 29px */
    }
}

@media screen and (max-width: 768px) {
    .FooterDetails {
        display: flex;
        flex-direction: column;
        padding: 10px;
        /* padding: 0 20px; */
        align-items: center;
        min-height: auto;
        width: 100%;
    }
   
    
    .footerDetailsUpLeft img{
        width: 250px;
        height: 250px;
    }

    .FooterDetailsUp {
        width: 100%;
        display: flex;
        gap: 120px ;
        padding:  10px ;
        /* border-bottom: none; */
    }

    .footerDetailsUpLeft {
        width: 25%;
        gap: 15px;
        padding: 10px;
        /* padding-top: 80px;
        padding-left: 50px; */

        }

        

        & .underFooterLogo {
            width: 100%;
            align-items: center;
            /* gap: 15px; */

            & .underFooterLogoUp, 
            & .underFooterLogoDown {
                justify-content: center;
                gap: 20px;
            }
            

            & .underFooterLogoDown {
                & .socialIcons {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    
    .footerDetailsUpright {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        flex-direction: column;
        /* justify-content: space-evenly; */
        /* display: grid;
        grid-template-columns: 1fr;  */
         gap: 45px !important;
        width: 80%;
        padding: 40px;
    }
    & p{
        font-size: 22px;
    }

    .info, .community, .more {
        gap: 5px;
    }

    

    .infoRoutes {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding: 0;
        align-items: center;

        & .infoRoute {
            justify-content: flex-start;
            text-align: left;
        }

        & .info {
            width: 7.875rem;
            height: 16.875rem;
        }

        & .community {
            width: 7.125rem;
            height: 9.5625rem;
        }

        & .more {
            width: 7.6875rem;
            height: 14.4375rem;
            padding-right: 2px;
       }
    }

}

@media screen and (max-width: 550px) {
    .FooterDetails {
        padding: 0 10px;
        height: 100%;
    }

    .FooterDetailsUp {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
    }

    .footerDetailsUpLeft {
        
        & .underFooterLogo {
            width: 100%;
            gap: 10px;

            /* & .underFooterLogoUp,
            & .underFooterLogoDown {
                justify-content: space-between;
            } */
        }  
        & img{
            width: 150px;

        }
    }

    .footerDetailsUpright {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        gap: 60px !important ; 
        /* grid-template-columns: 1fr;
        gap: 10px; */
    }

    .info, .community, .more {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .infoRoutes {
        visibility: visible;
        text-align: center;
        gap: 8px;

        & .infoRoute {
            justify-content: center;
        }
    }

    .FooterDetailsDown {
        flex-direction: column;
        padding: 10px;
        text-align: center;

        & svg {
            margin-bottom: 10px;
        }
    }
}





@media screen and (max-width: 421px) {
    .FooterDetails {
        padding: 0 10px;
        height: 100%;
    }

    .FooterDetailsUp {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
    }

    .footerDetailsUpLeft {
        
        & .underFooterLogo {
            width: 100%;
            gap: 10px;

            /* & .underFooterLogoUp,
            & .underFooterLogoDown {
                justify-content: space-between;
            } */
        }  
        & img{
            width: 100px;

        }
    }

    .footerDetailsUpright {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        gap: 60px !important ; 
        /* grid-template-columns: 1fr;
        gap: 10px; */
    }

    .info, .community, .more {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .infoRoutes {
        visibility: visible;
        text-align: center;
        gap: 8px;

        & .infoRoute {
            justify-content: center;
        }
    }

    .FooterDetailsDown {
        flex-direction: column;
        padding: 10px;
        text-align: center;

        & svg {
            margin-bottom: 10px;
        }
    }
}


