.forgotPassword__container{
    display: flex;
    height: 1010px;
    padding: 177px 420px 233px 420px;
    justify-content: center;
    align-items: center;
       /* online bg image */
    /* background-image: url(https://s3-alpha-sig.figma.com/img/0645/5781/f23676b7a8829ea82edb8a0d710978e2?Expires=1726444800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=EjU~bhP6hTTx1SaQhmqRHwNnONW3jnKhRcyD~TNWvXuf~gJkksrOQIehv6bVJkb6kdxn-2MAWmwZrpOGIS1Bk5EuWjQhkhLBccH6N98iGqWl7oXbNxBmxu2MH5BriDGDTnnt-q9I6ToT94FInINDzkAD5Abki9Ecvm8E9SjV~fDxAuT2ZcZnd92TvsIqzP0QPcJuLi~C6UuyzJieDP6GbqxqBJGx0NsT5t5ng0YrjFjY331cVTsnNipeu-emCqOGuLq0idD3uNMGhaxG8OXlkhPP2RlplRol~giKdQxH2w~HMgFT6sVSwj8VppFLDww4PhztcCHVziG~Hy97zJ-mOA__); */
   /* offline bg image */
   background-image: url("../../assets/images/form_bg.png");
}

.forgotPassword__content{
    display: flex;
    width: 1000px;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    background: var(--Base-Base-White, #FFF);
    box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.15); 
} 
.forgotPassword__text{
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.forgotPassword__text h1{
    color: var(--Base-Base-Black, #171717);
    text-align: center;
    font-family: Oswald;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
}
.forgotPassword__text p{
    color: var(--Base-Base-Black, #171717);
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}
.forgot__input__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    align-self: stretch;
}
 .forgotPassword__email  {
    display: flex;
    width: 530px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    justify-content: center;
}
.forgotPassword__email input{
    display: flex;
    width: 530px;
    height: 60px;
    padding: 6.667px 10px;
    align-items: center;
    gap: 6.667px;
}
.resetPassword {
    display: flex;
    width: 530px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6.67px;
    background: #002F5B;
    color: #FFF;
    cursor: pointer;
} 