.forgotPassword__container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* padding-top: 70px; */
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 40px;
    position: relative;
}

.forgotPassword__content__wrapper {
    display: flex;
    width: 444px;
    /* height: 454px; */
    /* padding-top: 70px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    padding: 20px;
    background: var(--Base-Base-White, #FFF);
    padding-top:70px ;
    padding-bottom:20px ;
    /* background: #b76d6d; */

    /* Card shadows */
    box-shadow: 0px 46px 13px 0px rgba(182, 184, 185, 0.00), 0px 29px 12px 0px rgba(182, 184, 185, 0.01), 0px 17px 10px 0px rgba(182, 184, 185, 0.05), 0px 7px 7px 0px rgba(182, 184, 185, 0.09), 0px 2px 4px 0px rgba(182, 184, 185, 0.10);
}

/* .forgotPassword__content { */
    /* display: flex; */
    /* width: 362px; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* gap: 10px; */
/* } */



.forgotPassword__text {
    display: flex;
    /* width: 362px; */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.forgotPassword__text h1 {
    color: var(--Secondary-Secondary, #0066B2);
    text-align: center;
    font-family: "Alegreya SC";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* width: 318px;
    height: 54px; */
}

.forgotPassword__text p {
    color: var(--Base-Base-Black, #171717);
    text-align: center;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    /* width: 347px; */
    /* height: 40px; */
}

.forgot__input__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    /* align-self: stretch; */
}

.forgotPassword__email {
    display: flex;
    /* width: 362px; */
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10.67px;
}

.forgotPassword__email input {
    display: flex;
    height: 49.778px;
    padding: 5.502px 16px;
    align-items: center;
    /* gap: 5.502px; */
    /* align-self: stretch; */
    width: 100%;
    border-radius: 5.502px;
    border: 0.89px solid #565454;

}

.forgotPassword__email label {
    color: var(--Base-Base-Black, #171717);
    font-family: Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.forgotPassword__btn{
    width: 100%;
  }

.resetPassword {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 8.253px;
    justify-content: center;
    align-items: center;
    gap: 8.253px;
    border-radius: 5.505px;
    background: var(--Secondary-Secondary900, #004375);
    color: #FFF;
    cursor: pointer;
    /* color: var(--Base-Base-White, #FFF); */
    font-family: Lora;
    font-size: 16.506px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.66px;
    border: none;
    outline: none;
}


@media screen and (max-width: 500px) {
    .forgotPassword__content__wrapper {
        width: 90%;
        gap: 18px;
        padding-top: 50px;

    }

    .forgotPassword__text{
        gap: 6.239px;
    }
    .forgotPassword__text h1{
        font-size: 24.955px;
    }
    
    .forgotPassword__text p{
        font-size: 11px;
    }
    
    .forgot__input__wrapper{
        gap: 15px;
    }

    .forgotPassword__email{
        gap: 6px;
    }
    
    .forgotPassword__email label{
        font-size: 11px;
    }
    .resetPassword, .forgotPassword__email input{
        height: 40px;
        font-size: 10.298px;
    }
    .remPass{
        font-size: 11px;
    }

/* 
    .forgotPassword__content {
        width: 300px;
    }

    .forgotPassword__text h1 {
        font-size: 20px;
    }

    .forgotPassword__email {
        width: 300px;
        padding-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .forgotPassword__text p {
        font-size: 12px;
        font-weight: 500;
    }

    .forgotPassword__email input {
        width: 300px;

    }

    .resetPassword {
        width: 300px;
    } */
}