.HeroPage {
    /* margin-top: 20px; */
    margin-top: 70px;
    width: 100%;
    /* height: 90vh; */
    /* height: 600px; */
    min-height: 37.5rem;
    height: max-content;
    /* background: #5cc04c !important; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: 100% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;

}

.wrapTheHeroTxt {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background: #000; */
}

.heropageWrapper {
    width: 65%;
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    color: var(--Base-Base-White);
    gap: 30px;
    /* background: bisque; */
    max-width: 661px;
    /* background: #000; */
}

.TextSeperator {
    display: flex;
    /* height: 314px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.heroBigText {
    color: #FFF;
    font-family: "Alegreya SC";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* flex: 1 0 0; */

    & .span2 {
        color: var(--Secondary-Secondary, #0066B2);
        font-family: "Alegreya SC";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.heroSmallText {
    color: #FFF;
    font-family: Lora;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 80%;
}

.heroPageBtn {
    display: flex;
    width: 250px;
    height: 50px;
    padding: 7.5px;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
    border-radius: 8px;
    background: var(--Secondary-Secondary, #0066B2);
    color: #FFF;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    outline: none;
}