.WeService {
    width: 100%;
    min-height: 45.4375rem;
    background: var(--Base-Bg-White);
    padding: 50px 77px 63px 73px;

}

.weServiceWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}

.weServiceTop {
    height: max-content;
    max-width: 40.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.56rem;

    & h4 {
        color: #171717;
        font-family: "Alegreya SC";
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    & p {
        color: #171717;
        font-family: Lora;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
    }
}

.weServiceBottom {
    /* width: 100%; */
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 55px;
    align-items: center;
    overflow: hidden;

    & .weServiceBottomCarBrandsWrapper {

        width: 100%;
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
        & .weServiceCarBrands {

            & img {
                display: flex;
                max-width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .WeService {
        padding: 10px;
    }

    .weServiceWrapper {
        h4 {
            text-wrap: wrap;
            /* font-size: 34px; */
            font-size: 2.125rem;
            text-align: center;
        }

        gap: 40px;
    }

    .weServiceBottom {

        & .weServiceBottomCarBrandsWrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;

            & .weServiceCarBrands {
                & img{
                    width: 180px;
                    
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .WeService {
        padding: 10px;
    }

    .weServiceWrapper {
        h4 {
            text-wrap: wrap;
            /* font-size: 34px; */
            font-size: 2.125rem;
            text-align: center;
        }

        gap: 40px;
    }

    .weServiceBottom {

        & .weServiceBottomCarBrandsWrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;

            & .weServiceCarBrands {
                & img{
                    width: 180px;
                    
                }
            }
        }
    }
}


@media screen and (max-width: 421px) {
    .weServiceWrapper {
        & h4 {
            font-size: 2.125rem;
            text-align: center;
        }

        & p {
            font-size: 1.25rem;
        }
        .weServiceCarBrands {
            & img{

                width: 100px;

            }
        }
    
        
    }
}