.GrowYourMechanicBusiness {
    width: 100%;
    /* height: 700px; */
    /* height: 43.75rem; */
    flex-shrink: 0;
    background: var(--Base-Base-Black, #171717);
    padding: 31px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GrowYourMechanicBusinessWrapper {
    /* display: flex; */
    /* gap: 116px; */
    /* display: flex; */
    /* flex-direction: ; */
    max-width: 95%;
    /* background: burlywood; */
    height: 100%;
    display: flex;
    /* width: 95%; */
    /* justify-content: space-between; */
    align-items: center;
    gap: 116px;

    & .leftGrowMech {
        /* width: 632px;  */
        width: 39.5rem;
        /* width: 50%; */
        /* height: 629px;  */
        /* height: 39.3125rem; */
        /* background: white; */
        border-radius: 10px;
        /* background: url("../../../assets/images/growYourbusiness.png"); */
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;

        & img {
            max-width: 100%;
        }


    }

    & .rightGrowMech {
        display: flex;
        width: 457px;
        flex-direction: column;
        align-items: flex-start;
        gap: 46px;

        & .rightGrowMechTop {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 26px;
            align-self: stretch;
            /* background: wheat; */

            & h4 {
                color: var(--Base-Base-White);
                /* font-family: Oswald; */
                font-family: Alegreya SC;
                /* font-size: 40px; */
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                & span {
                    color: var(--Base-Base-White);
                    /* font-family: Oswald; */
                    font-family: Alegreya SC;
                    /* font-size: 40px; */
                    font-size: 2.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    color: var(--Secondary-Secondary, #0066B2);
                }
            }

            & p {
                color: var(--Base-Base-White);
                font-family: Lora;
                /* font-size: 24px; */
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        & .rightGrowMechBtn {
            padding: 14px 39px 13px 39px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            border: 1px solid #F5F5F5;
            color: var(--Base-Base-White, #FFF);
            font-family: Lora;
            /* font-size: 18px; */
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            outline: none;
            background: transparent;
            cursor: pointer;
            transition: 650ms all ease-out;

            &:hover {
                color: var(--Base-Base-Black);
                background: var(--Base-Base-White) !important;
                transform: scale(1.03);
            }
        }
    }
}

@media screen and (max-width: 63.75rem) {
    /* .GrowYourMechanicBusiness{
        padding-bottom: 15px;
    } */

    .GrowYourMechanicBusinessWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* gap: 0px; */
        align-items: center;
        justify-content: center;

        & .leftGrowMech,
        .rightGrowMech {
            width: 100%;
            height: 50%;
        }

        /* & .rightJoin{
            width: 100%;
        } */
    }
}