/* Popup.css */
.popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Ensure it's above other content */
  }
  
  .popup__content {
    display: flex;
    width: 90%;
    height: 90%;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background:  #FFF;
  }
  .popup__content h1{
    color: var(--Secondary-Secondary, #0066B2);
    text-align: center;
    font-family: "Alegreya SC";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .popup__content p{
    color: var(--Base-Base-Black, #171717);
    text-align: center;
    font-family: Lora;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .resetPassword{
    display: flex;
    width: 362px;
    height: 50px;
    padding: 8.253px;
    justify-content: center;
    align-items: center;
    gap: 8.253px;
    border-radius: 5.505px;
    background: var(--Secondary-Secondary900, #004375);
    color: #FFF;
    cursor: pointer;
    /* color: var(--Base-Base-White, #FFF); */
    font-family: Lora;
    font-size: 16.506px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.66px;
}

  