/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: Alegreya SC;
  src: url("./assets/Fonts/Alegreya_SC/AlegreyaSC-Black.ttf");
}
 /* font-family: "Alegreya SC", serif; */

@font-face {
  font-family: Merriweather;
  src: url("./assets/Fonts/Merriweather/Merriweather-Regular.ttf");
}
 /* font-family: "Merriweather", serif; */

@font-face {
  font-family: Lora;
  src: url("./assets/Fonts/Lora/Lora-VariableFont_wght.ttf");
}
 /* font-family: "Lora", serif; */
 
/* @font-face {
  font-family: Inter;
  src: url("./assets/Fonts/Inter/");
} */
 /* font-family: "Inter", serif; */

@font-face {
  font-family: Oswald;
  src: url("./assets/Fonts/Oswald/Oswald-VariableFont_wght.ttf");
}
 /* font-family: "Oswald", serif; */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  overflow-x: hidden;
}

:root{
  --Base-Base-Black: #171717;
  --Base-Bg-Black: #171717;
  --Base-Base-White: #FFF;
  --Base-Bg-White: #FFF;
  --Home-Bg-Icon: #EAE9E9;
  --Black: #000;
}
