.confirmBookingContainer {
    width: 100%;
    height: 100vh;
    /* max-height: 100vh; */
    /* min-height: 100vh; */
    position: fixed;
    top: 0;
    background: #524d4d72;
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation-name: slideIn;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    /* overflow: hidden; */
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
/* 
    to {
        transform: translateY(0%);
    } */
}

.confirmBookingBox {
    /* width: 360px; */
    /* width: 22.5rem; */
    /* width: 31.25rem; */
    /* min-width: 310px; */
    min-width: 19.375rem;
    /* width:500px ; */
    /* width: 31.25rem; */
    /* width:400px ; */
    width: 25rem;
    /* max-width: 1000px; */
    max-width: 62.5rem;

    /* min-height: 581px; */
    /* min-height: 36.3125rem; */
    /* height: 581px; */
    height: 36.3125rem;
    /* height: 100%; */
    max-height: 1000px;
    max-height: 62.5rem;

    background: var(--Base-Base-White, #FFF);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-height: 589px) {
    .confirmBookingBox {
        min-height: 80%;
        /* height: 90%; */
        background: #de4e4e;
        /* height: 51px;
        height: 100px;
        max-height: 100px; */
    }
}

.confirmBookingHead {
    width: 100%;
    /* background: paleturquoise; */
    background: var(--Secondary-Secondary100, #D6EDFF);
    height: 10%;
    display: flex;
    justify-content: center;

    & .confirmBookingHeadWrapper {
        width: 90%;
        height: 100%;
        /* background: palegreen; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        /* height: 24px; */
        /* height: 1.5rem; */

        & h3 {
            color: var(--Secondary-Secondary1000, #003257);
            text-align: center;
            font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
            font-family: Lora;
            /* font-size: 20px; */
            /* font-size: 1.25rem; */
            /* font-size: 22px; */
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            /* 24px */
            letter-spacing: -0.4px;
        }

        & svg {
            cursor: pointer;
        }
    }
}

.confirmBookingMiddle {
    width: 100%;
    /* background: paleturquoise; */
    background: var(--Base-Base-White, #FFF);
    height: 79%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;

    & .confirmBookingMiddleTopWrapper {
        width: 95%;
        height: 90%;
        /* background: palegreen; */
        display: flex;
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        /* height: 24px; */
        /* height: 1.5rem; */
        /* background: #E7F5FF; */

        & .confirmBookingMiddleTop {
            width: 94%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-top: 19px;
            padding-bottom: 40px;
            /* background: #000; */

            & .confirmBookingMiddleTopDetails {
                width: 100%;
                /* height: 30%; */
                /* background: blueviolet; */
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;

                & div {
                    /* display: flex;
                    justify-content: center;
                    align-items: center; */
                    /* gap: 10px; */
                    width: 100%;
                    /* background: #000; */
                    color: var(--Base-Base-Black, #171717);
                    font-style: normal;
                    height: max-content;

                    & .span1 {
                        font-family: Lora;
                        font-size: 17px;
                        /* font-size: 16px; */
                        line-height: 120%;
                        font-weight: 500;
                        /* width: 100%; */
                        /* 19.2px */
                    }

                    & .span2 {
                        font-family: Lora;
                        width: 100%;
                        font-size: 15px;
                        /* font-size: 14px; */
                        font-weight: 400;
                        line-height: 120%;
                        padding-left: 5px;
                        /* background: #000; */
                    }
                }
            }

            & .confirmBookingMiddleTopMech {
                width: 100%;
                /* height: 30%; */
                /* height: 99px; */
                /* background: blueviolet; */
                display: flex;
                align-items: flex-end;
                gap: 17px;

                & .confirmBookingMiddleTopMechLeft {
                    width: 35%;
                    height: 100%;
                    background: var(--Foundation-Grey-grey-50, #FBFBFB);
                    background-size: cover !important;
                    /* background-position: center !important; */
                    background-repeat: no-repeat !important;
                  
                }

                & .confirmBookingMiddleTopMechRight {
                    width: 65%;
                    height: 100%;
                    /* background: red; */
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    & h3 {
                        color: var(--Foundation-Back, #222);
                        font-family: Lora;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 145%;
                        /* 23.2px */
                    }

                    & h4 {
                        color: var(--Base-Base-Black, #171717);
                        font-family: Lora;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 145%;
                        /* 20.3px */
                    }

                    & p {
                        color: var(--Base-Base-Black, #171717);
                        font-family: Lora;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 145%;
                        /* 20.3px */

                        & span {
                            color: var(--Base-Base-Black, #171717);
                            font-family: Lora;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 145%;
                        }
                    }

                    & a {
                        color: var(--Secondary-Secondary, #0066B2);
                        font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
                        font-family: Lora;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 145%;
                        /* 17.4px */
                        text-decoration-line: underline;
                    }
                }
            }

            & .confirmBookingMiddleTopCost {
                width: 100%;
                /* height: 25%; */
                /* background: blueviolet; */
                display: flex;
                /* width: 310px; */
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;

                & div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    & h3 {
                        color: var(--Base-Base-Black, #171717);
                        font-family: Lora;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        /* 19.2px */
                        letter-spacing: -0.32px;
                    }

                    & p {
                        color: var(--Foundation-Back, #222);
                        font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 145%;
                        /* 20.3px */

                        & span {
                            color: var(--Foundation-Back, #222);
                            font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 145%;
                            /* 20.3px */
                        }
                    }
                }
            }
        }
    }

    & .confirmBookingMiddleBottom {
        display: flex;
        justify-content: center;
        align-items: center;
        /* align-self: stretch; */
        width: 100%;
        height: 10%;
        background: #E7F5FF;
        /* padding-left: 2.5%; */
        /* padding-right: 2.5%; */

        & .confirmBookingMiddleBottomWrapper {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & h3 {
                color: var(--Base-Base-Black, #171717);
                font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
                font-family: Lora;
                /* font-size: 20px; */
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 600;
                line-height: 145%;
                /* 29px */
            }

            & p {
                color: var(--Foundation-Back, #222);
                font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
                font-family: Montserrat;
                /* font-size: 16px; */
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 145%;
                /* 23.2px */

                & span {
                    color: var(--Foundation-Back, #222);
                    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
                    font-family: Lora;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 145%;
                }
            }
        }

    }
}

.confirmBookingBottom {
    width: 100%;
    /* background: paleturquoise; */
    background: var(--Secondary-Secondary100, #D6EDFF);
    height: 11%;
    display: flex;
    justify-content: center;

    & .confirmBookingBottomWrapper {
        width: 90%;
        height: 100%;
        /* background: palegreen; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        flex-shrink: 0;
        /* height: 24px; */
        /* height: 1.5rem; */

        & button {
            width: 50%;
            height: 50px;
            border-radius: 10px;
            cursor: pointer;
            font-family: Lora;
            /* font-size: 14px; */
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        & .go_back {
            color: var(--Base-Base-Black, #171717);
            border: 1px solid var(--Base-Base-Black, #171717);
            background: transparent;
        }

        & .checkout_btn {
            color: var(--Base-Base-White, #FFF);
            background: var(--Secondary-Secondary, #0066B2);
            border: none;
        }
    }
}